
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');



 #root {  /* Box styling for the root element #root is the id for the base of the page css */
  min-height: 100vh; /* Ensure the root element takes up the full viewport height */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}

.hero-content {    /* Box styling for the hero content section THE BUILDBOARD THE ATTENTION GRABBER */
 background-image: url('./assets/magnific_on-the-right-corner-add-a_iGYr5663uK.jpeg');
  min-height: 100vh;
  display: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px;
  box-sizing: border-box;

}

.welcome-sub {  /* Box styling for the welcome subheading(WELCOME TO) */
  font-size: 40px;
  font-style: Normal; 
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  color: #012901;
  margin-bottom: 60px;
 
}

.main-title {  /* Box styling for the main title (ROOTED) */
  font-family: "Fleur De Leah", cursive;
  font-weight: 700;
  font-size: 100px;
  font-style: Bold;
   color: #012901;
  margin-bottom: 20px;

}

.card-container {  /* Box styling for the card container */ 
  display: flex;
background:fixed;
margin-top: 70px;
  align-items: center; /*align means vertical aligned items is for horizontal aligment*/
justify-content: center; /*justify means horizontal aligned items is for vertical aligment*/
  gap: 70px;
  flex-wrap: wrap;
  
}
.action-cards {  /* Box styling for the individual cards */
  background:transparent(15%);
  backdrop-filter: blur(12px);
  border:rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 20px;  
  min-height:50vh;
  font-family:Georgia, serif;
}

.addplants {
  background:#F2E8D8;
  min-height:100vh;
  width: 100%;
  box-sizing: border-box;
}

.addplants h1 {
  font-family: "Fleur De Leah", cursive;
  font-size:100px;
  font-style: normal;
  font-weight: 400;
  color: #022b02;
}

 